body {
  overflow-x: hidden;
}

button {
  background-color: transparent;
  border: 0;
}

input {
  outline: 0;
}

.logo {
  display: none;
}

.invoice-page {
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
}

.date-section {
  background-color: #fff;
  border: 1px solid #d2dad8;
  padding: 40px;
  border-radius: 10px;
  font-size: 13px;
  margin-bottom: 20px;
}

.date {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d2dad8;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.due-date {
  padding: 7px;
  border: 0;
  background-color: #F0F7F6;
}

.input-group {
  align-items: center;
  margin-bottom: 10px;
  column-gap: 10px;
  row-gap: 10px;
}

.input-group:has(textarea) {
  align-items: start;
}

.bill-inner label {
  width: 60px;
}

.bill-inner input,
.bill-inner textarea {
  border: 0;
  padding: 7px 20px;
  background-color: #F0F7F6;
  flex-grow: 1;
  border-radius: 3px;
}

.bill-inner textarea {
  height: 120px;
}

/* BillBoard */

.bill-board {
  border-top: 1px solid #d2dad8;
  border-bottom: 1px solid #d2dad8;
  margin-top: 20px;
  padding: 5px;

}

.bill-top .table {
  margin-bottom: 30px;
}

.bill-top ul {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 0; */
}

.bill-top ul li {
  font-weight: bold;
  text-transform: uppercase;
}

.item-name {
  width: 50%;
}


.bill-top table td,
.bill-top table th {
  padding: 10px;
  position: relative;
  vertical-align: middle;
  text-align: center;
}

.bill-top table td input {
  border: 1px solid transparent;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 2px;
  background-color: #F0F7F6;
  display: block;
  width: 100%;
  border-radius: 3px;

}

.bill-top table td svg {
  font-size: 30px;
  color: #af2222;
  padding: 0;
}


.add-button {
  background-color: rgb(62, 51, 162);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
}

.subtotal-items ul li {
  display: flex;
  font-weight: bold;
  padding: 5px;
}

.subtotal-parts {
  display: flex;
  justify-content: end;
  margin-bottom: 20 px;
  flex-direction: column;
}

.subtotal-parts ul:not(:last-child) {
  border-bottom: 1px solid #d2dad8;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.subtotal-parts ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtotal-parts ul li span {
  margin-right: 20px;
}

.subtotal-total {
  margin-bottom: 5px;
}

.subtotal-total li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtotal-total li span {
  margin-right: 20px;
}

.bill-footer input {
  border: 0;
  padding: 7px 20px;
  background-color: #F0F7F6;
  display: block;
  width: 100%;
  border-radius: 3px;
}

.bill-footer {
  margin-top: 10px;
}



.review-section {
  position: sticky;
  top: 40px;
  border-bottom: 1px solid #d2dad8;
  padding-bottom: 10px;
}

.review-details {
  margin: 10px;
  position: sticky;
  top: 120px;
}

.review-details input {
  border: 1px solid #ced4da;
  padding: 7px 20px;
  background-color: #fff;
  display: block;
  width: 100%;
  border-radius: 7px;
}



/* Right Panel */

.right-panel label {
  margin-top: 20px;
  font-weight: 600;
  color: white;
}

.right-panel input {
  margin-top: 3px;
  padding: 10px;
}

/* Bill Modal */
.bill-modal-table .modal-header {
  background-color: #e7efed;

}

.bill-modal-table {
  max-width: 800px;
}


.review-button {
  position: sticky;
  padding: 10px;
  border: 1px solid #0a58ca;
  border-radius: 7px;


  width: 100%;
  top: 20px;
  margin-bottom: 10px;

  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: rgb(99 102 241);


  outline: none;
}

.modal-body,
.modal-header {
  padding: 20px 40px 30px;
}

.modal-header {
  padding-bottom: 10px;
}

.modal-amount {
  display: flex;
  justify-content: flex-end;
}

.modal-totals ul {
  border-bottom: 1px solid #d2dad8;
  padding-bottom: 10px;
  margin-bottom: 10px;

}

.modal-totals ul li {
  font-weight: bold;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
}

.modal-totals ul li span {
  margin-right: 20px;
}

.modal-totals {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 20px;
  margin-bottom: 20px;
}

.modal-final-total {
  font-weight: bold;
  margin-top: 3px;
}

.modal-final-total li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media print {
  .invoice-page {
    display: none;
  }


  .modal {
    padding-top: 130px;
    height: 100%;
  }

  .logo {
    text-align: center;
    display: block;
    margin-top: 30px;
  }

  .modal-body button {
    display: none;
  }

  @page {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.modal-header th {
  text-align: center;
}

.bill-top table td input.input-error {
  border: 1px solid red;
}

.bill-top table td input.input-error+p {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 0);
  background-color: #000;
  color: #fff;
  white-space: nowrap;
  padding: 2px 10px;
  border-radius: 5px;
}

.bill-top table td input.input-error+p:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #000 transparent;

}

.bill-top table td input.input-error:focus+p {
  display: block;
}

/* Add Product Form  */

.add-product {
  padding: 100px 0;
}

.product-form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;

  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  padding: 20px;
  border-radius: 10px;

}

.product-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  outline: none;
  line-height: 1.5rem;
  font-size: 0.875rem;
  color: rgb(255 255 255);
  padding: 0.5rem 0.875rem;
  background-color: rgb(255 255 255 / 0.05);
  border: 1px solid rgba(253, 253, 253, 0.363);
  border-radius: 0.375rem;
  flex: 1 1 auto;
}

.product-form form input,
.product-form form select {
  outline: none;
  line-height: 1.5rem;
  font-size: 0.875rem;
  color: rgb(255 255 255);
  padding: 0.5rem 0.875rem;
  background-color: rgb(255 255 255 / 0.05);
  border: 1px solid rgba(253, 253, 253, 0.363);
  border-radius: 0.375rem;
  flex: 1 1 auto;
}

.product-form form select option {
  color: white;
  background-color: #3f4c6b;

}


.product-form form input::placeholder {
  color: rgb(216, 212, 212);
}


.product-form form input:focus {
  border: 1px solid rgb(99 102 241);
}

.product-form form button {
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: rgb(99 102 241);
  border-radius: 0.375rem;
  border: none;
  outline: none;
}

.product-input label {
  margin-right: 10px;
  width: 150px;
}

.product-input input {
  flex-grow: 1;
}


/* Side Menu  */

.side-menu-container {
  padding-left: 0;
  margin-left: 0px;
  margin-top: 100px;
  width: 870px;

}

.side-menu-items {
  padding-left: 0;
  min-height: 100vh;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  position: sticky;
  top: 0;

}

.side-menu-items ul li a {
  text-transform: capitalize;
  padding-top: 10px;
  color: rgb(216, 212, 212);
  transition: all 300ms ease-in;
  padding-left: 16px;
  text-decoration: none;
  display: block;
  padding-bottom: 10px;
}

.side-menu-items ul li a:hover,
.side-menu-items ul li a.active {
  color: #3f4c6b;
  background-color: white;

}

.side-menu-items ul li svg {
  margin-right: 10px;
}

.bill-logo {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 30px;
}

.logo-name {
  font-size: 30px;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  text-transform: capitalize;
  padding-left: 10px;
}


/* PreLoader */

.typewriter {
  --blue: #5C86FF;
  --blue-dark: #275EFE;
  --key: #fff;
  --paper: #EEF0FD;
  --text: #D3D4EC;
  --tool: #FBC56C;
  --duration: 3s;
  position: relative;
  -webkit-animation: bounce05 var(--duration) linear infinite;
  animation: bounce05 var(--duration) linear infinite;
}

.typewriter .slide {
  width: 92px;
  height: 20px;
  border-radius: 3px;
  margin-left: 14px;
  transform: translateX(14px);
  background: linear-gradient(var(--blue), var(--blue-dark));
  -webkit-animation: slide05 var(--duration) ease infinite;
  animation: slide05 var(--duration) ease infinite;
}

.typewriter .slide:before,
.typewriter .slide:after,
.typewriter .slide i:before {
  content: "";
  position: absolute;
  background: var(--tool);
}

.typewriter .slide:before {
  width: 2px;
  height: 8px;
  top: 6px;
  left: 100%;
}

.typewriter .slide:after {
  left: 94px;
  top: 3px;
  height: 14px;
  width: 6px;
  border-radius: 3px;
}

.typewriter .slide i {
  display: block;
  position: absolute;
  right: 100%;
  width: 6px;
  height: 4px;
  top: 4px;
  background: var(--tool);
}

.typewriter .slide i:before {
  right: 100%;
  top: -2px;
  width: 4px;
  border-radius: 2px;
  height: 14px;
}

.typewriter .paper {
  position: absolute;
  left: 24px;
  top: -26px;
  width: 40px;
  height: 46px;
  border-radius: 5px;
  background: var(--paper);
  transform: translateY(46px);
  -webkit-animation: paper05 var(--duration) linear infinite;
  animation: paper05 var(--duration) linear infinite;
}

.typewriter .paper:before {
  content: "";
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7px;
  border-radius: 2px;
  height: 4px;
  transform: scaleY(0.8);
  background: var(--text);
  box-shadow: 0 12px 0 var(--text), 0 24px 0 var(--text), 0 36px 0 var(--text);
}

.typewriter .keyboard {
  width: 120px;
  height: 56px;
  margin-top: -10px;
  z-index: 1;
  position: relative;
}

.typewriter .keyboard:before,
.typewriter .keyboard:after {
  content: "";
  position: absolute;
}

.typewriter .keyboard:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 7px;
  background: linear-gradient(135deg, var(--blue), var(--blue-dark));
  transform: perspective(10px) rotateX(2deg);
  transform-origin: 50% 100%;
}

.typewriter .keyboard:after {
  left: 2px;
  top: 25px;
  width: 11px;
  height: 4px;
  border-radius: 2px;
  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  -webkit-animation: keyboard05 var(--duration) linear infinite;
  animation: keyboard05 var(--duration) linear infinite;
}

.preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the background color and opacity as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes bounce05 {

  85%,
  92%,
  100% {
    transform: translateY(0);
  }

  89% {
    transform: translateY(-4px);
  }

  95% {
    transform: translateY(2px);
  }
}

@keyframes slide05 {
  5% {
    transform: translateX(14px);
  }

  15%,
  30% {
    transform: translateX(6px);
  }

  40%,
  55% {
    transform: translateX(0);
  }

  65%,
  70% {
    transform: translateX(-4px);
  }

  80%,
  89% {
    transform: translateX(-12px);
  }

  100% {
    transform: translateX(14px);
  }
}

@keyframes paper05 {
  5% {
    transform: translateY(46px);
  }

  20%,
  30% {
    transform: translateY(34px);
  }

  40%,
  55% {
    transform: translateY(22px);
  }

  65%,
  70% {
    transform: translateY(10px);
  }

  80%,
  85% {
    transform: translateY(0);
  }

  92%,
  100% {
    transform: translateY(46px);
  }
}

@keyframes keyboard05 {

  5%,
  12%,
  21%,
  30%,
  39%,
  48%,
  57%,
  66%,
  75%,
  84% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  9% {
    box-shadow: 15px 2px 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  18% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 2px 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  27% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 12px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  36% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 12px 0 var(--key), 60px 12px 0 var(--key), 68px 12px 0 var(--key), 83px 10px 0 var(--key);
  }

  45% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 2px 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  54% {
    box-shadow: 15px 0 0 var(--key), 30px 2px 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  63% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 12px 0 var(--key);
  }

  72% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 2px 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  81% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 12px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
}